*,*:hover{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('https://images8.alphacoders.com/714/714894.jpg');
  background-position: bottom center;
  font-family: 'EB Garamond', serif;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWeather{
  width: 40vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
@media screen and (max-width: 1000px) {
  .cardWeather{
    width: 80vw;
    height: 85vh;
    
  }
}


.location{
  width: 40vw;
  padding: 3vh 0;
  text-align: center;
  border-bottom: 2px solid cadetblue;
}
@media screen and (max-width: 1000px){
  .location{
    width: 80vw;
    border: none;
    padding-bottom: 0;
  }
}
.weather{
  display: flex;
}
@media screen and (max-width: 1000px){
  .weather{
    display: block;
  }
}
.weather1{
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 2px solid cadetblue;
  
}
@media screen and (max-width: 1000px){
  .weather1{
    border: none;
    height: 25vh;
  }
}
.weather1 img{
  margin: 5vh;
  width: 5vw;
  background-color: #fd0000;
  border-radius: 50%;
}
@media screen and (max-width: 1000px){
  .weather1 img{
    margin: 0;
    width: 10vw;
    background-color: #fd0000;
    border-radius: 50%;
  }
}
.weather2{
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
@media screen and (max-width: 1000px){
  .weather2{
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }
}
.temp-max-min{
  display: flex;
  text-align: center;
}
.button{
  margin: 3vh;

}
@media screen and (max-width: 1000px){
  .button{
    margin: 7vh;
  
  }
}
.button button{
  padding: 2vh;
  border: none;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
}
.button button:active{
  background-color:white;
  color: blueviolet;
  border: 2px solid blueviolet;
}
b{
  color: crimson;
}
p{
  font-size: 20px;
}
